/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Color de fondo general */
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Estilos para la barra de navegación */
nav {
    background-color: #3498db; /* Color de fondo de la barra de navegación */
    color: #fff; /* Color del texto en la barra de navegación */
    padding: 10px 0;
}

nav a {
    color: #fff; /* Color del enlace en la barra de navegación */
    text-decoration: none;
    margin: 0 15px;
}

/* Estilos para encabezados */
h1, h2, h3 {
    color: #2c3e50; /* Color de texto principal */
}

/* Estilos específicos para cada página */
/* Página del Paciente */
#paciente-info {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
}

#citas-futuras, #consultas-pasadas {
    margin-top: 20px;
}

/* Página de Consulta */
#consulta-info {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
}

#receta-info, #especialista-info {
    margin-top: 20px;
}

/* Página del Médico */
#medico-info {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
}

#proximas-consultas, #consultas-hoy {
    margin-top: 20px;
}

/* Estilos para botones y enlaces */
button, a.button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #3498db; /* Color de fondo del botón */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

button:hover, a.button:hover {
    background-color: #2980b9; /* Color de fondo del botón al pasar el ratón */
}

/* Otros estilos según necesidades */
