/* conecta.php */


body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.success-message {
    text-align: center;
    color: #28a745;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.icon-thumb-up {
    font-size: 120px;
    animation: pulse 1s infinite alternate;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.5);
    }
}

.redirection-message {
    margin-top: 20px;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */